 
 .ssb{ background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cc9a54b0-f651-4905-b7df-457b8a4555ca/deyc43x-03ba8909-1150-41e1-b584-f5bd9660d466.png/v1/fill/w_1000,h_750,q_80,strp/black_gradient_orange_1_background_by_mannyt1013_deyc43x-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzUwIiwicGF0aCI6IlwvZlwvY2M5YTU0YjAtZjY1MS00OTA1LWI3ZGYtNDU3YjhhNDU1NWNhXC9kZXljNDN4LTAzYmE4OTA5LTExNTAtNDFlMS1iNTg0LWY1YmQ5NjYwZDQ2Ni5wbmciLCJ3aWR0aCI6Ijw9MTAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iu7K5TP_wE_Ap-9jYSGyNIs_VIN3Dj_59LPx9NUyEsM");
  background-color: rgb(255, 182, 48);
}

.ty{
  color: rgb(175, 128, 27);
}

.forget{
  color:red;
}

.si{
color: red;
}